<!doctype html>
<html lang="en">
  {% include 'components/head.njk' %}
    <body class="bg-ds-blue">
      {% include 'components/header.njk' %}
      {{ content | safe }}
    <script type="module" src="/bundle.js"></script>
  </body>
</html>