---
layout: layouts/defaultLayout.njk
menuActive: about
---
<main>
  <div class="container-fluid bg-custom-gradient">
      <div class="container text-center pt-4"><h1 class="display-1">Sven van Straalen</h1></div>
  </div>
  <div class="container shadow-sm mt-n5 bg-body rounded">
    <div class="text-center">
        <img src="/assets/Sven-2.jpg" style="max-width: 200px;" class="rounded mt-n5 shadow-sm" alt="...">
    </div>
    <div class="row py-4">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <p class="card-text">
              Sven is an Architect who can’t be separated from code. He is always looking for awesome new solutions.
              Sven is a specialist on development and new technology. He is always eager to learn about new frameworks and technologies and puts a lot of energy into this. He attends conferences and reads magazines on web development in his free time. Because of his expertise, colleagues often come to Sven to ask for advice or when they have questions about their work. Sven really enjoys to help others with his knowledge on a daily basis.​
              Together with his Agents of C.O.D.E he manages a great development community within Capgemini, where tech events like hackathons, meetups and knowledge sessions are organized. Sven is also outside Capgemini being recognized for his technical knowledge where he is invited on several speaking engagements on tech conferences like Jfall, Angular NL, Front end Love, .BLD() and tech fair
            </p>
          </div>
        </div>
{# https://codepen.io/anon/pen/gJpLrR <<<< voor tijdijn in je profiel pagina #}
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Experience</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
