  <div class="relative isolate overflow-hidden pt-14">
    <img src="/assets/photo/_DSC6509.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover opacity-50">

    <div class=" min-h-screen mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Welcome</h1>
        <p class="mt-6 text-lg leading-8 text-gray-300"> To digital Sven</p>

      </div>

<div class="text-gray-300 text-center absolute bottom-0 left-0 right-0">
        <div class=" mb-20 pb-24 flex items-center justify-center gap-x-6">
          <div>
            <a href="#" class="text-lg block font-semibold leading-6 text-white">Photo </a>
            <a href="#" class="text-4xl block font-semibold leading-6 text-white"><span aria-hidden="true">↓</span></a>
          </div>
          <div>
            <a href="#" class="text-lg block font-semibold leading-6 text-white">Tech </a>
            <a href="#" class="text-4xl block font-semibold leading-6 text-white"><span aria-hidden="true">↓</span></a>
          </div>
          <div>
            <a href="#" class="text-lg block font-semibold leading-6 text-white">Whois </a>
            <a href="#" class="text-4xl block font-semibold leading-6 text-white"><span aria-hidden="true">↓</span></a>
          </div>
          
        </div>
  </div>


    </div>

  </div>
</div>