.gallery{

}

/* clear fix */
.gallery:after {
    content: '';
    display: block;
    clear: both;
  }

.gallery-gutter-sizer {
    width: 1%;
}

@include media-breakpoint-up(md) { 
    .gallery-item, .gallery-sizer {
        width: 47.333%;
    }
 }
.gallery-item{
    margin-bottom: 1%;
    float: left;
    img {
        border-radius: 2%;
        display: block;
        max-width: 100%;
    }
}

