$enable-negative-margins: true;
@import "bootstrap/scss/bootstrap";
@import "starfield";
@import "prism";

.bg-custom-gradient{
    background: rgb(206,89,196);
    background: linear-gradient(90deg, rgba(206,89,196,1) 0%, rgba(255,83,85,1) 35%, rgba(255,201,85,1) 100%);
    min-height: 40vh;
}